h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Roboto Slab', serif;
}

/* Navigation Section */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav a {
    display: block;
    color: white;
    padding: 10px 10px;
}



nav {
    background-color: maroon;
}

/* End Navigation Section */

/* Home Section */

#homepage {
    text-align: center;
}

.home p {
    text-align: center;
    padding: 0px 125px;
}

#featured-projects ul {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

/* Work Section */

#workpage {
    text-align: center;
}

.my-work {
    display: flex;
    justify-content: center;
 }

.card p {
    font-size: 12px;
}

.card {
    border: black 3px solid;
    margin: 25px;
}

.card-img {
    width: 125px;
    height: 150px;
}

@media (max-width: 400px) {
    .card-img {
        width: 75px;
        height: 125px;
    }
}
