/* Color Scheme */
941b0c Dark Red
621708 Blood Red
220091 Dark Sienna

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Roboto Slab', serif;
}

img {
    max-width: 100%;
    display: block;
}

/* Navigation Section */
.navbar-nav {
    margin-left: 33%;
}

.navbar-social {
    margin-left: 33%;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
}

/* Jumbotron Section */
.jumbotron {
    /* background:linear-gradient(180deg, rgba(59, 35, 93, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url(../images/jumbtron-bg.jpg); */
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.7) 100% , rgba(255, 255, 255, 0.7) 100%), url(../images/jumbtron-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* @keyframes slidein {
    from {
       opacity: 0; 
       background: red;
     }
   
     to {
       opacity: 1;
       background: purple;
     }
   } */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav a {
    display: block;
    color: white;
    padding: 10px 10px;
}



nav {
    animation: 5s 2 reverse slidein;
    /* animation-name: slidein;
    animation-duration: 6s;
    animation-iteration-count: 2;
    animation-direction: reverse; */
    background-color: #3c1414;
}

/* End Navigation Section */

/* Home Section */

#homepage {
    text-align: center;
}

.home p {
    text-align: center;
    padding: 0px 125px;
}

#featured-projects ul {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

/* Work Section */

#workpage {
    text-align: center;
}

.my-work {
    display: flex;
    justify-content: center;
 }

.card p {
    font-size: 12px;
}

.card {
    border: black 3px solid;
    margin: 25px;
}

.card-img {
    width: 125px;
    height: 150px;
}

@media (max-width: 400px) {
    .card-img {
        width: 75px;
        height: 125px;
    }
}
